        .fater {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center; 
            height: 100vh;
            background-color: azure;            
        }
        .tablero {
            padding: 20px;
            background-color: darkblue;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;  
            color: wheat;
            width: 500px;
            height: 300px;  
            gap: 20px;                    
        }

        .tantos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;            
            flex: 1;   
        }

        .puntos {
            background-color: black;
            color: white;          
            width: 139px;                   
            padding: 20px 10px;            
            border-radius: 10px;
            text-align: center;            
            font-family: 'Press Start 2P', cursive;
            font-size: 2.5rem;
            border: thick solid #000000;
        }
        .botonera {
            display: flex;
            flex-direction: row;
            justify-content: center; 
            align-items: center; 
            gap: 3px;
           
        }

        .botones {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            padding: 5px;
            color: white;
            font-size: 1rem;
        }

        .botones:hover {
            background-color: blue;
        }

        .tablero h1 {
            margin: 0;
            font-family: 'Carter One', cursive;
        }




    